[wpbgallery id=749]

<div class="m_top">
<b>Typology:</b> Residential

<b>Project Area:</b> 370 square meters

<b>Service:</b> Interior design, consulting and project management

The classic style décor of this apartment boasts very important furniture, with a typically retro flavour. The decorative elements, the rich and valuable finishes, the decorated marbles and the inlays of the parquet, the wood and the upholstery of the sofas, recall this style and refer to an overall picture of order, concreteness and formal clarity but, above all, elegance.
</div>


Tipologia: Concept Store
Superficie di progetto: 1360 metri quadrati
Servizi: Progettazione di interni, Creazione del Brand Identity
All'interno di un edificio di recupero industriale si è progettato uno spazio commerciale su due piani inteso come concept store, con la precisa intenzione di creare un’area che permettesse di far vivere al cliente un'esperienza esplorativa di acquisto e godere di una pluralità di suggestioni artistiche. I punti vendita sono corner o volumi che si protendono in un ambiente, sezionato tramite setti e pareti mobili, capace di attirare e coinvolgere il cliente al suo interno. L'atto dell'acquisto è intercalato da installazioni artistiche, spazi di ristoro e momenti di relax, permettendo al cliente uno shopping in assoluto svago. Per questa ragione sono stati considerati sia un'area ristorante dedicata prevalentemente alla pausa pranzo, che può altresì rivelarsi come luogo d'incontro in un'ottima atmosfera glamour, sia un Lounge Bar trasformabile in uno spazio per business meetings e convention. Quelli che invece rappresentano i classici ambienti di servizio, come scale e corridoi, si configurano in modo totalmente originale e innovativo come vetrine estetiche, trasformandosi in spazi espositivi per mostre temporanee, richiami pubblicitari ed estensioni per l'acquisto.



luogo

Mosca, Russia




wpbgallery_gallery

http://localhost/4-dimensions/wp-content/uploads/2018/06/CLUB-21-1-miniatura.jpg


[wpbgallery id=737]

Tipologia: Residenziale


Superficie di progetto: 2010 metri quadrati

Servizi: Progettazione di interni, consulenza
