/*
Theme Name: 4 Dimensions
Theme URI:
Author: Lorenzo Veneziani
Author URI:
Description: Tema personalizzato per 4 Dimensions con bootstrap e fontawesome.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: qd

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* ===========================================   SETUP INIZIALE   ==================================================  */

/* .admin-bar .navbar {top: 32px;} */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #747474;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  min-height: 100vh;
}

.main-content { flex: 1; }

.centered { text-align: center; }
.upp { text-transform: uppercase; }
.m_top { margin-top:20px; }
.m_bot { margin-bottom:20px; }
.m_top10 { margin-top:10px; }
.m_bot10 { margin-bottom:10px; }
.mb-20{ margin-bottom: 20px; }
.mt6 { margin-top: 60px; }
img { max-width:100%; }
h4 { margin-top: 10px; }

a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #000;
  text-decoration: underline;
}

a:focus { outline: none; }

header {
  position: relative;
  z-index: 10;
  padding-bottom: 10px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4)
}

.grecaptcha-badge {
  display: none;
}

/* ============================ MENÙ LINGUE ============================= */

@media only screen and (min-width:991px) {
  .sgamo { display: none; }
}

.col-md-12.text-right { display: table; }

#menu-selettore-lingue>li {
  margin-left: 10px;
}

#menu-selettore-lingue {
   flex-direction: row;
    float: right;
 }
/* ============================ MAIN MENÙ ============================= */
.navbar {
  margin-bottom: 0;
  padding: 0;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-nav { margin-right: auto; }

@media screen and (max-width: 991px) {
  .navbar-header { width: 100%; }
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-collapse { padding-right: 0; }

.navbar-toggler {
  float: left;
  margin: 0;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 4px;
  padding: 2px 10px;
}

.navbar-brand {
  float: none;
  padding: 0;
  height: 30px;
  margin-right: 0;
}

.navbar-brand>img { display: inline; }

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  color: #747474;
  background: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
  color: #b2aca8 !important;
  background: none;
}

@media screen and (min-width: 992px) {
  .navbar-default .navbar-nav>li:first-child>a { padding-left: 0 !important; }
}

#bs4navbar ul a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-weight: 300;
}

.lang .active a {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .navbar {
    font-size: 15px;
    min-height: 30px;
  }
  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
    border: none;
    background: none;
  }
  .navbar-nav {
    margin: 0;
  }
  #bs4navbar ul a {
    margin-top: 0px;
  }
  #bs4navbar>ul>li {
    border: none;
    border-bottom: 1px solid #747474;
  }
  #bs4navbar>ul>li:last-child {
    border-right: none;
  }
  #bs4navbar>ul>li>a {
    padding: 20px;
  }
  #bs4navbar ul li ul {
    z-index: 0;
    position: relative;
    top: 0px;
    border-bottom: none;
    background-color: #f8f8f8;
    text-align: left;
  }
  #bs4navbar ul li ul li a {
    border-bottom: 1px solid #ffffff;
    padding: 12px 0 12px 35px;
  }
  #bs4navbar ul li ul li:first-child a {
    padding-top: 0;
  }
}

.dropdown-menu {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  padding: 0;
}

.dropdown-item{
  border-bottom: 1px solid #747474;
  padding: 10px !important;
  text-align: center;
}

.dropdown-item:last-child { border-bottom: none; }

/* ============================ CAMPO RICERCA ============================= */
/*
input.search-form::-webkit-input-placeholder{
  color: #747474;
  font-weight: 300;
}

.icon-search {
  background-color: transparent;
  border: none;
  color: #747474;
}

.search-form {
  background: transparent;
  border: none;
  max-width: 170px;
  color: #747474;
  font-weight: 300;
}

@media only screen and (max-width:991px) {
  .search-form{
    padding-left: 20px;
    max-width: 70%;
  }
}
*/

/* ============================ SLIDER ============================= */

.carousel-inner>.carousel-item {max-height: 650px;}

.carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img {
  width: 100%;
  position: relative;
}

.carousel-caption {
  bottom: 100px;
  text-align: right;
  color: #747474;
  text-shadow: none;
  width: auto;
  left: auto;
  right: 12%;
}

.carousel-caption.box {
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-caption h4 {
  margin-top: 0;
}

.box {
  background-color: #eaeaea;
  padding: 10px;
}

.box .servizi {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0px 0px 10px #b2aca8;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}


.box h4 {
  text-shadow: 0px 2px 0px #ffffff;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.box .text { font-weight: 300; }

.carousel-control-next {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control-prev {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
  }

/* ============================ INTRO HOME ============================= */

@media screen and (min-width:992px) {
  .soci-box{ margin-top: 60px; }
}

h2.subline {
  line-height: 50px;
  font-size: 24px;
  font-weight: 300
}

@media screen and (max-width:767px) {
  h2.subline {
    line-height: 30px;
    font-size: 16px;
    font-weight: 300
  }
}

/* ============================ CARDS ============================= */
.box .text p {
  margin-bottom: 0;
  font-size: 14px;
}

.home.nome { margin-top: 10px; }

/* ============================ 4 PROGETTI HOME ============================= */

/* .box .text {padding:0 10px 10px 10px;font-weight:300;}
.mod_projects .box {padding:0;}
.box .text span {padding: 0;} */

.q-superiore{ padding-top: 150px; }

/* .q-superiore a, .q-inferiore a {
    text-decoration: none;
    color: #747474;
} */

@media screen and (min-width: 768px) {
  .mod_projects { margin-bottom: 100px; }
}

@media screen and (min-width: 1200px) {
  .q-inferiore { padding-top: 50px; }
  .box-dx { margin-left: 30px; }
}

@media screen and (max-width: 575px) {
  body { overflow-x: hidden; }
  .q-superiore { padding-top: 0; }
}

.mod_projects .box.m_bot10:hover {
  transform: scale(1.08);
}

.box.m_bot10 img { width: 100%; }

.mod_projects .box.m_bot10 {
  transition: transform 1.2s;
}

/* ============================ SARTORIALITÀ / CUSTOM MADE ============================= */

img.img-fluid.wp-post-image:hover {
    transform: scale(0.9);
}

img.img-fluid.wp-post-image {
    transition: transform 1.2s;
}

/* ============================ FOOTER ============================= */
footer {margin-top:60px;}

footer ul, footer a, footer a:hover, footer a:focus {color:#ffffff;}

.footer-up {
  background-color: #918c88;
  margin-bottom: 5px;
}

.footer-dw {
  background-color: #b2aca8;
}

ul.menu-footer>li>.dropdown-menu {
  background-color: #918c88;
}

ul.menu-footer>li>.dropdown-menu a {
  color: #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
}
/* ul#menu-footer>li>.dropdown-menu.show:last-child a { border-bottom: none; } */

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
  text-decoration: underline;
}

ul.menu-footer {
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

ul.menu-footer a {
  border-right: 1px solid #fff;
  padding: .5rem 1rem !important;
  text-transform: capitalize;
  text-decoration: none;
}

ul.menu-footer>li:last-child>a { border-right: none; }

/* ============================ SERVIZI & CHI SIAMO ============================= */

.about, .page-template-chi-siamo .soci-quote { margin-top: 50px; }

.about h3 { text-align: center; }

.page-template-chi-siamo .soci-quote h3 { text-shadow: 0px 2px 0px #ffffff; }

.division {
  background-color: #eaeaea;
  height: 60px;
}

.division h5 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.sector {
  padding: 10px 10px;
  text-align: center;
  background-color: #eaeaea;
  min-height: 220px;
}

@media (min-width: 576px) and (max-width: 991px) {
  .division h5 { font-size: 18px; }
  .sector p { font-size: 12px; }
}

.about hr, .page-template-chi-siamo .soci-quote hr {
  border: 2px solid #ffffff;
  width: 150px;
  margin-left: 0;
}

.about p, .page-template-chi-siamo .soci-quote p {
  font-size: 14px;
  text-align: justify;
}

.about:nth-child(even) {
  background-color: #eaeaea;
}

.about:nth-child(odd) {
  background-color: #fbfafb;
}

.page-template-chi-siamo .soci-quote {
  background-color: #eaeaea !important;
}

.specifiche { background-color: #9b9793; }

.specifiche>ul {
  text-transform: capitalize;
  font-size: 20px;
  list-style: none;
  color: #fff;
  margin-top: 20px;
  line-height: 3;
}

@media screen and (max-width: 575px) {
  .division { margin-bottom: 10px; }

  .col-sm-3.division:last-child { margin-bottom: 0; }

  .specifiche>ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* ============================ NEWS ============================= */

.single-post h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.single-post .pre-text>p{
  margin-top: 15px;
}

.page-numbers {
    margin-right: 5px;
}

.page-template-news img.img-fluid.wp-post-image:hover {
  transform: scale(1.03);
}

.page-template-news img.img-fluid.wp-post-image {
  transition: transform 1.2s;
}

/* ============================ NEWS INSIDE ============================= */

.single-post .news-text {
  text-align: justify;
  font-weight: 300;
  font-size: 20px;
}

.single-post ol.children {
  margin-top: 20px;
}

.single-post .comment-meta.commentmetadata {
    margin-top: 5px;
}

.single-post textarea {
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.single-post .submit {
  height: 40px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
}

/* ============================ CONTATTI ============================= */

.page-template-contatti .contact-box {
  background-color: #eaeaea;
  padding-bottom: 20px;
}

.page-template-contatti .contact-box.map { padding-bottom: 0; }

.page-template-contatti h1{ margin-bottom: 0; }

.form-group label {
  float: left;
}

span.help-block.wpcf7-not-valid-tip {
  float: left;
  color: red;
}

/* ============================ PROGETTI ============================= */
.project, .project a {
  background-color: #b2aca8;
  color: #ffffff;
}

.project a img {
  height: 290px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
}

@media only screen and (max-width:991px) and (min-width:551px) {
  .project a img {
    height: 155px;
  }
}

.project a img:hover { -webkit-filter: grayscale(0%); }

.project a { display: inline-block; }

.project h5 { margin-top: 0; }

.project h5 a {
  text-shadow: 0px 2px 1px #777777;
  padding: 10px 5px 0px 10px;
  text-decoration: none;
}

.post-template-progetto-single-post p {
  text-align: justify;
}

.project p {
  padding: 10px 5px 10px 10px;
  font-weight: 300;
}

.project_det h3, .project_det h5 {
  background-color: #b2aca8;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 0px 2px 1px #777777;
  padding: 10px 5px 5px 10px;
}

.project_det h5 { padding-top: 0px !important; }

.project_det h3 small { color: #ffffff; }

.blueimp-gallery {
  background: #000 !important;
}

.blueimp-gallery>.indicator>li {
  height: 50px !important;
  width: 50px !important;
  border-radius: 25px !important;
}
